/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #4caf50;
}

a:hover {
  color: #388e3c;
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Home Page Styles */
.home-container {
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 30px;
}

.home-container button {
  margin: 10px;
  font-size: 18px;
}

.home-container button:first-of-type {
  background-color: #007bff;
}

.home-container button:first-of-type:hover {
  background-color: #0056b3;
}

/* Dashboard Styles */
.dashboard-container {
  text-align: left;
}

.dashboard-container h1 {
  color: #2c3e50;
}

.user-details {
  margin-top: 20px;
  background-color: #e8f5e9;
  padding: 15px;
  border-left: 5px solid #4caf50;
  border-radius: 5px;
}

.user-details p {
  margin: 5px 0;
}

.sign-out-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.sign-out-btn:hover {
  background-color: #c9302c;
}

/* Loading Spinner Styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid red; /* Green */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
